header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    
    
}

nav {
    @include tab {
        display: none;


    }
    ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    padding-top: 70px;
    padding-right: 487px;
}
    
    
    li {
        margin-left: 15px;
        font-size: 1.8rem;
        font-family: Roboto Mono for Powerline;
        color: #707070;
        &:first-child {
            color: #000000;
            border-bottom: 1px solid #000000 ;
        }
        

    }

}

.hd-logo {
    white-space: nowrap;
    font-size:  3.8rem;
    padding-top: 68px;
    padding-left: 77px;
    font-family: Roboto Mono for Powerline;
    @include sp {
        padding-top: 30px;
        padding-left: 20px;
        font-size: 2.8rem;
    }
    

}

.ham {
    display: none;
    @include tab {
    width: 16px;
    height: 14px;
    margin-right: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: black;
    }

    }

}







